.navbar {
    display: flex; //deixar alinhado horizontal
    justify-content: space-between; //alinhar horizontalmente
    align-items: center; //alinhar verticalmente
    //width: 100%; //largura
    height: 100%; //altura do container
    max-height: 10vh; //altura máxima que ele pode ter
    background: #1f2937; // cor em hexadecimal e a opacidade;
    border: 1px solid #DDDDDD70; //borda no container, tamanho - tipo - cor
    padding: 20px; //espaçamento para dentro
    // margin: 20px; //espaçamento para fora
    // gap : 10px; // espaçamento entre items
    border: none;

    .buttons {
        display: flex;
        gap: 20px;

        .button {
          padding: 5px 10px;
          background: transparent;
          border: 1px solid transparent;
          border-radius: 10px;
          display: flex;
          gap: 5px;
          color: #cbd5e1;
          font-weight: bold;
          cursor: pointer;
          height:40px;
          align-items: center;
        }

        .button:hover{
           background: #2a3441;
        }

        .active{
          border: 1px solid #3b82f6;
          color: white;
          background: #1E90FF;
        }
    }
}