.navbar {
    display: flex; //deixar alinhado horizontal
    justify-content: space-between; //alinhar horizontalmente
    align-items: center; //alinhar verticalmente
    //width: 100%; //largura
    height: 100%; //altura do container
    max-height: 10vh; //altura máxima que ele pode ter
    background: var(--surface); // cor em hexadecimal e a opacidade;
    //border: ; //borda no container, tamanho - tipo - cor
    padding: 10px 20px; //espaçamento para dentro
    // margin: 20px; //espaçamento para fora
    // gap : 10px; // espaçamento entre items
    border-bottom: 1px solid var(--border-20);

    .img {
      height:100%;
    }

    .buttons {
        display: flex;
        gap: 5px;

        .button {
          padding: 10px 15px;
          background: transparent;
          border: 1px solid transparent;
          border-radius: var(--border-radius);
          display: flex;
          gap: 5px;
          color: var(--text-muted);
          font-weight: bold;
          cursor: pointer;
          align-items: center;
        }

        .button:hover{
           background: var(--surface-dark);
        }

        .active{
          border: 1px solid var(--selected-blue);
          color: var(--text-primary);
          background: var(--selected-blue);
        }
    }
}