.navbar {
    display: flex; //deixar alinhado horizontal
    justify-content: space-between; //alinhar horizontalmente
    align-items: center; //alinhar verticalmente
    //width: 100%; //largura
    height: 100%; //altura do container
    max-height: 10vh; //altura máxima que ele pode ter
    background: #DDDDDD20; // cor em hexadecimal e a opacidade;
    border: 1px solid #DDDDDD70; //borda no container, tamanho - tipo - cor
    padding: 20px; //espaçamento para dentro
    // margin: 20px; //espaçamento para fora
    // gap : 10px; // espaçamento entre items

    .buttons {
        display: flex;
        //justify-content: space-between;
       // align-items: center;
        gap: 20px;
        //width: 30%;

       // padding: 20px; //espaçamento para dentro
        //height: 100%;

        .button {
            background: none;
            border: none;
            display: flex;
            gap: 5px;
            color: lightgray;
            font-weight: bold;
        }
    }


}

