.tagPlayer {
  display: flex;
  flex-direction: column;
  padding: 20px;
  position: sticky;
  top: 20px;
  gap: 15px;
  border-radius: 8px;
  background: #1F2937;

  .title {
    font-weight: bold;

    .icon {
      color: #45c777;
      margin-right: 5px;
    }
  }

  .selectedPlayer {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background: rgb(37 99 235 / 0.2);
    border: 1px solid rgb(59 130 246 / 0.3);
    color: rgb(147 197 253 / 1);
    border-radius: 8px;

    .playerData {
      color: white;

      .playerName {
        font-weight: 600;
      }
    }
  }

  .positions {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 10px;

    .position {
      display: flex;
      width: 100%;
      flex-direction: column;
      gap: 5px;

      .title {
        margin-bottom: 5px;
        color: rgb(209 213 219 / 1);
        font-weight: 600;
        text-transform: uppercase;
      }

      .player {
        display: flex;
        flex-direction: column;
        background: #374151;
        padding: 10px;
        border-radius: 8px;
        gap: 10px;
        border: 1px solid transparent;
        align-items: flex-start;
        text-align: start;
        cursor: pointer;
        transition: .2s all ease-in-out;

        &:hover {
          background: #525f79;
          transform: scale(1.03);
        }

        .name {
          color: rgb(209 213 219 / 1);
          font-weight: 700;
          font-size: 1.1em;
        }

        .description {
          color: #8a929e;
        }
      }

      .selected {
        background: #213B6D;
        border: 1px solid #284C8A;

        .name {
          color: white;
        }
        &:hover{
          background: #213B6D;
        }
      }
    }
  }
}