.customSelect {
  width: 100%;

  .select {
    width: 100%;
    background-color: var(--surface-dark);
    border: 1px solid var(--border-20);
    padding: 10px;
    border-radius: var(--border-radius);
    color: var(--text-primary);
    overflow: hidden;

    :global(.rc-select-selector) {
      border: none;
      color: var(--text-primary);
      background: transparent;
    }

    :global(.rc-select-selection-placeholder) {
      top: -3px;
      left: 0;
    }
  }

  .placeholder {
    font-size: 1rem;
    color: var(--text-primary);
  }

  &Dropdown {
    border: none;
    background-color: var(--surface-dark);
  }
}
