.divCard {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  height: fit-content;

  .card {
    width: 100%;
    height: 95px;
    padding: 5px 22px;
    border-radius: 15px;
    font-size: 25px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .left {
    display: flex;
    flex-direction: column;
  }

  .cardName {
    font-size: 15px;
  }

  .cardValue {
    font-size: 30px;
    font-weight: Bold;
  }

  .right {
    font-size: 26px;
  }
}
