.content {
  box-sizing: border-box;
  min-width: 0;
  background-color: #1F2937;
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;

  .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    color: white;
    margin: 0;

    .icon {
      color: var(--light-purple);
      margin-right: 3px;
    }

    .addPlayer {
      padding: 10px;
      color: white;
      background: var(--green);
      border: none;
      border-radius: var(--border-radius);
      cursor: pointer;
      transition: .2s all ease-in-out;

      &:hover {
        background: #18de65;
      }
    }
  }

  .players {
    display: flex;
    gap: 10px;
    min-width: 0;

    .player {
      box-sizing: border-box;
      flex: 1 1 0;
      min-width: 0;
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    .selectedPlayer {
      min-width: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: #374151;
      border-radius: var(--border-radius);
      padding: 8px;
      border: 1px solid #DDDDDD20;

      .infos {
        min-width: 0;
        display: flex;
        flex-direction: column;

        .name {
          min-width: 0;
          display: flex;
          gap: 5px;
          align-items: center;
          font-weight: bold;
        }

        .overall {
          color: #dddddd90;
        }
      }

      .exitIcon {
        cursor: pointer;
        font-size: 20px;
        color: #e5e7eb;
      }
    }
  }

  .emptyList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    color: #4B5563;
    margin-block: 4em;

    .icon {
      font-size: 3rem;
    }

    .title {
      font-weight: bold;
      font-size: 18px;
      color: #4B5563;
    }
  }
}
