.container {
  box-sizing: border-box;
  min-height: 100svh;
  width: 100%;
  background-color: var(--bg-dark);
  padding: 15px 10px;

  > * {
    margin-top: 30px;
  }
}

.feedback {
  color: #d9e2f2;
  padding: 48px 16px;
  text-align: center;
}
