.container {
  width: 100%;
  padding: 10px 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-radius: var(--border-radius);
}

.title {
  font-size: 28px;
  font-weight: 600;
  color: var(--text-primary);
}

.actions {
  display: flex;
  gap: 12px;
}

.button {
  display: flex;
  align-items: center;
  gap: 8px;

  padding: 8px 14px;
  border-radius: var(--border-radius);
  font-size: 13px;
  font-weight: 500;
  border: none;
  cursor: pointer;
  transition: 0.2s ease;

  svg {
    font-size: 20px;
  }
}

.save {
  background: var(--selected-blue);
  color: var(--text-primary);

  &:hover {
    background: var(--green);
  }
}

.clear {
  background: var(--surface);
  color: var(--text-primary);
  border: 1px solid var(--border-20);

  &:hover {
    background: var(--deep-red);
  }
}
