.playerView {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .playerName {
      display: flex;
      align-items: center;
      gap: 10px;

      .icon {
        background: #1F2937;
        border-radius: 4px;
        padding: 8px;
        font-size: 1em;
        height: fit-content;
      }

      .player {
        display: flex;
        flex-direction: column;

        .name {
          color: white;
          font-size: 1.2em;
          font-weight: 600;
        }
      }
    }

    .overall {
      display: flex;
      flex-direction: column;
      padding: 8px;
      background: #CA8A04;
      border-radius: 8px;
      color: white;

      .rating {
        font-weight: bold;
        font-size: 1.3em;
      }
    }
  }

  .content {
    display: flex;
    gap: 10px;
    width: 100%;

    > * {
      width: 100%;
      max-width: 50%;
    }

    .radarGraph {
      display: flex;
      flex-direction: column;
      background: #1F2937;
      border-radius: 8px;
      padding: 10px;

      .metrics {
        display: flex;
        flex-direction: column;

        .metric {
          display: flex;
          justify-content: space-between;
          align-items: center;

          .name {
            color: white;
          }

          .value {
            color: #60A5FA;
            font-weight: bold;
          }
        }
      }
    }

    .playerData {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .performance {
        display: flex;
        flex-direction: column;
        background: #1F2937;
        border-radius: 8px;
        padding: 10px;
        gap: 15px;

        .carousel {

          .carouselItem {
            display: flex;
            flex-direction: column;
            gap: 5px;

            .value {
              background: #0D1117;
              border-radius: 8px;
              padding: 10px;

              .name {
                display: flex;
                gap: 5px;
                align-items: center;
              }
            }
          }
        }

        .metrics {
          display: flex;
          flex-direction: column;
          gap: 10px;

          .metric {
            display: flex;
            flex-direction: column;
            background: #111827; //secondary-background
          }
        }
      }

      .indexes {
        display: flex;
        flex-direction: column;
        background: #1F2937;
        border-radius: 8px;
        padding: 20px;
        gap: 5px;

        .title {
          font-size: 1.2em;
          font-weight: bold;
          margin-bottom: 5px;
          color: white;
        }

        .index {
          display: flex;
          flex-direction: column;

          .indexName {
            font-weight: 500;
          }

          .values {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            justify-content: space-between;
            width: 100%;

            .value {
              width: 40%;
              color: white;
              display: flex;
              gap: 5px;
              margin-right: 10px;

              .number {
                font-weight: 500;
              }
            }
          }
        }
      }
    }
  }
}