.video {
  display: block;
  width: 100%;
  max-width: 100%;
  height: 520px;
  background: black;
  border-radius: var(--border-radius);
  border: 0;
}

@media (max-width: 768px) {
  .video {
    width: 100%;
    height: 220px;
    border-radius: var(--border-radius);
  }
}
