.graph {
  width: 100%;
  background:var(--bg-dark); //TODO: Second background
  padding: 15px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;

  .graphLegend {
    color: var(--text-primary);
  }

  .title {
    font-weight: bold;
    color: var(--text-primary);
  }

  .graphContent {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;

    .graphButtons {
      display: flex;
      justify-content: center;

      .graphPlayer {
        padding: 10px;
        display: flex;
        align-items: center;
        background-color: var(--bg-secondary);
        border: 1px solid var(--border-20);
        cursor: pointer;

        &:first-child {
          border-radius: 8px 0 0 8px;
        }

        &:last-child {
          border-radius: 0 8px 8px 0;
        }
      }

      .selected {
        background-color: #dddddd50;
      }
    }
  }
}
